body {

    font-family: Arial;
    margin:40px;
    background:#f5f5f5;

}


h1 {

    color:#333;

}


button {

    padding:10px 20px;
    background:#2563eb;
    color:white;
    border:none;
    border-radius:5px;

}


table {

    width:100%;
    margin-top:30px;
    border-collapse:collapse;
    background:white;
    margin-left: auto;
    margin-right: auto;
}


th,td {

    padding: 0.25em;
    border:1px solid #ddd;

}

th[role=columnheader]:not(.no-sort) {
    cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
    content: '';
    float: right;
    margin-top: 7px;
    margin-left: 5px;
    border-width: 0 4px 4px;
    border-style: solid;
    border-color: #333 transparent;
    visibility: hidden;
    opacity: 0;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
    border-bottom: none;
    border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
    visibility: visible;
    opacity: 0.6;
}

th[role=columnheader]:not(.no-sort):hover:after {
    visibility: visible;
    opacity: 1;
}


.success {
    color:green;
}

.failure {
    color:red;
}

/*
Source - https://stackoverflow.com/a/78581908
Posted by cloned, modified by community. See post 'Timeline' for change history
Retrieved 2026-07-17, License - CC BY-SA 4.0
*/

/* The checkbox */

.hidden-checkbox {
    display: none;
}


/* The element to show/hide */

.toggle-content {
    display: none;
    z-index: 2;
    position: absolute;
    background-color: dimgrey;
    color: white;
    border: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 3px;
}


/* The label that controls the element */

.label-toggle {
    cursor: pointer;
}


/* Show the element when the checkbox is checked */

.hidden-checkbox:checked+.toggle-content {
    display: block;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-y: auto;
    max-height: 100px;
    padding-right: 10px
}

li {
    font-size: small;
}

li:hover {
    background-color: darkgrey;
}

.toggle-container{
    background-color: darkgrey;
    display: inline-block;
    position: relative;
    border-radius: 25px;
    outline: 1px solid black;
    padding: 2px;
}
.toggle-container:hover{
    background-color: dimgrey;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    background-color: #a69892;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #5a4848;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #434141;
}

/* Style the tab content */
.tab-content {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}